@font-face {
    font-family: title;
    src: url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/09374c_6bb11670e04148429125905b1c9cc00c/ttf/file.ttf") format("ttf");
}

body{
    background-color: white;
}
.hmm{
    display: flex;
    text-align: center;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-05a-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=600&s=0d286af06ffe65653b2da7379ae10f0f");
    background-image: url("https://i.pinimg.com/736x/74/56/fd/7456fd3e2ca978aeb93cc1f8b5efa97b.jpg");
    background-image: url("https://i.pinimg.com/564x/d1/fd/c9/d1fdc9a5f926bae62600e61f45e30d48.jpg");
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-10a-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=d5e492bd9a6b9c65413daee136a9b7c3");
    /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-06-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=800&s=0a5af2aef5575e3b84fd81fb56569fcc"); */
    background-position: center;
}
.auth-form input{
    width: 400px;
}
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-container{
    padding: 2vh;
    margin: 2vh;
}
.buttongroup-horizontal{
    display: flex;
    flex-direction: row;
}
#wrap-main{
    padding: 4vh !important;
}
.error-sans{
    padding: 0;
}
.auth-notifications{
    margin: .5vh;
}

.todo-link{
    font-size: 12px;
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.5vw;
}
.delete-todo{
    opacity: .7;
}
.delete-todo:hover{
    color:#B03060 !important;
    opacity: 1;
}
.head-todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.5vw;
}
.head-todo .date{
    font-size: 10px;
}
.mainpage{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
#weather-content p{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
#weather-content h4{
    margin: 0;
    padding: 0;
}
.ui.fixed.menu.logo{
    width: 85vw;
    margin-left: 210px;
    padding: 0;
    /* position: fixed; */
    height: 8vh;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-05a-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=600&s=0d286af06ffe65653b2da7379ae10f0f");
    background-image: url("https://i.pinimg.com/736x/74/56/fd/7456fd3e2ca978aeb93cc1f8b5efa97b.jpg");
    background-image: url("https://i.pinimg.com/564x/d1/fd/c9/d1fdc9a5f926bae62600e61f45e30d48.jpg");
    /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-10a-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=d5e492bd9a6b9c65413daee136a9b7c3"); */
    /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v574-fah-06-handdrawnbackground_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=800&s=0a5af2aef5575e3b84fd81fb56569fcc"); */
    background-position-y: 500px ;
    background-position-y: 450px ;
    /* filter: blur(0.8px);
    -webkit-filter: blur(0.8px); */
}
.content-nonblur{
    width: 85vw;
    height: 8vh;

    padding-top: 0px;
    padding-left: 0px;
    font-style: none;
    font-size: 20px;
    font-weight: 900;
    color: rgb(60,80,87)!important;
    letter-spacing: 0.16em;
    position: absolute;
    top:0;
    z-index: 2;
    text-align: center;
}
#weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#user-profile{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: nowrap;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signout-btn{
    color: rgb(30, 30, 177);
    cursor: pointer;
}
#signout-btn:hover{
    color: #B03060;
    font-size: 13px;
}
.yourtodolist {
    float: left;
}
  
.addtodo { 
    float: right;
}

.btnbasic{
    border-radius: 20px !important; 
    text-transform: uppercase !important;
    font-size: 9px !important;
    font-weight: 800 !important;
    letter-spacing: 0.13em;
    text-align: center !important;
    background-color: transparent !important;
    border: 1px solid  !important;

}

.basic {
    display: flex; 
    justify-content:center; 
    align-items: center;
    flex-direction: column;
}
.basic2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
}

#note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 20px;;
}

.atas{
    border-top: 3px solid rgb(5, 5, 5);
    border-bottom: 3px solid rgb(14, 14, 13); 
    background-color: rgba(255, 255, 255, 0.993);
    font-size: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}