.dropdown-menu {
  box-shadow: none;
  float: left;
}
.dropdown-menu a {
  color: #999999 !important;
  font-weight: lighter !important;
}
.dropdown-menu a:hover {
  color: black !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: black !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: black !important;
}
.dropdown-item.active.hover, .dropdown-item:active:hover {
  color: #fff !important;
}